<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="image/favicon-2.ico" type="image/x-icon">
    <link rel="icon" href="image/favicon-1.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/w/style.css" type="text/css" />
</head>
<body>
    <div class="wrap">
        <div class="header bg fil8"></div>
        <div class="header" style="background:#504c59;"> 

 
<div style="position:relative;width:980px;left:50%;margin-left:-490px;padding:0px;">
    <form id="searchForm" name="searchForm" method="get" action="/search.html">
    <input type="hidden" id="page" name="page" value="1"/>
    <input type="hidden" id="mainMenuId" name="mainMenuId" value=""/>
    <input type="hidden" id="subMenuId" name="subMenuId" value=""/>
    <input type="hidden" id="order" name="order" value="HIT"/>
    <table style="padding:0px;border-spacing:0px;border-collapse:collapse;width:100%;text-align:left;">
        <tr>
            <td colspan="3">
                <table style="width:100%;">
                    <tr>
                        <td style="text-align:right;">
                            <div style="color:#e4e4e4;">{{ page.currenttime }} {{ page.name }}</div>
                        </td>
                        <td style="text-align:right;width:150px;">
                        {% if page.login == 0 %}
                            <a class="btn btn-mini btn-info" onclick="loginLayer()">Login</a>
                            <a class="btn btn-mini " onclick="signupLayer()">Sign Up</a>
                        {% else  %}
                            <a class="btn btn-mini btn-info" onclick="logoutLayer()">Logout</a>
                        {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:0px;width:200px;">
                <a href="index.php"><img src="image/logo.png" style="width:180px;height:30px;" /></a>
            </td>
            <td style="width:500px;">
                <table class="menu">
                    <tr>
                    
                        <td class="" onclick="goMainMenu('1')">
                            쇼핑
                            <span style="font-size:8pt;font-weight:normal;">(1498)</span>
                        </td>
                    
                        <td class="" onclick="goMainMenu('13')">
                            지역
                            <span style="font-size:8pt;font-weight:normal;">(920)</span>
                        </td>
                    
                        <td class="" onclick="goMainMenu('34')">
                            여행/레저
                            <span style="font-size:8pt;font-weight:normal;">(52)</span>
                        </td>
                    
                        <td class="" onclick="goMainMenu('27')">
                            문화
                            <span style="font-size:8pt;font-weight:normal;">(20)</span>
                        </td>
                    
                    </tr>
                </table>            
            </td>
            <td style="text-align:left;">
                <div style="background:#858585;border:4px solid #858585;padding:0px;margin:0px;">
                    <input type="text" style="margin:0px;padding:3px;width:230px;" id="query" name="query" onclick="valueSelect(this)" value="" />
                    <a href="#" onclick="goSearch();"><img src="image/m_search_32.png" style="width:24px;height:24px;"/></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                            
            </td>
        </tr>
    </table>
    </form>
</div>

<!-- 최근본 상품 -->
<div id="recentViewBox" style="position:absolute;top:130px;left:50%;margin-left:500px;width:90px;padding:7px 0 4px 0;text-align:left;">



 


</div>
<div id="dimmedDiv2" class="corner" style="position:absolute;top:200px;left:50%;margin-left:-220px;width:460px;padding:20px 25px 20px 25px;background:#F2F2F0;color:#383838;display:none; z-index:201;">
    <table style="margin-bottom:10px;width:100%;">
        <tr>
            <td style="width:50%;text-align:left;"><h4>가입하기</h4></td>
            <td style="width:50%;text-align:right;"><a href="#" onclick="dimmedOff();"><img src="image/close_01.gif"/></a></td>
        </tr>
    </table>
    <form id="signupForm" name="signupForm" method="post" action="/create_user.php">
    <table style="width:100%;margin-bottom:10px;">
        <tr>
        </tr>
        <tr>
            <th width="70">이름</th>
            <td style="text-align:left;">
                <input type="text" id="name" name="name" style="width:100%;background:#fff;border:1px solid #e4e4e4;height:30px;"/>
                <span id="nameMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <th width="70">이메일</th>
            <td style="text-align:left;">
                <input type="text" id="email" name="email" style="width:100%;background:#fff;border:1px solid #e4e4e4;height:30px;"/>
                <span id="emailMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <th width="70">패스워드</th>
            <td style="text-align:left;">
                <input type="password" id="password" name="password" style="width:100%;background:#fff;border:1px solid #e4e4e4;height:30px;"/>
                <span id="passwordMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <th width="70">전화번호</th>
            <td style="text-align:left;">
                <input type="text" id="phone" name="phone" style="width:100%;background:#fff;border:1px solid #e4e4e4;height:30px;"/>
                <span id="phoneMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <th rowspan="2">주소</th>
            <td style="text-align:left;">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left;">
                <textarea id="address" name="address" style="background:#fff;border:1px solid #e4e4e4;width:100%" rows="3"></textarea>
                <span id="addressMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;">
                <button class="btn btn-success" id="subscribeBtn" onclick="signup();return false;">가입</button>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="dimmedDiv1" class="corner" style="position:absolute;top:200px;left:50%;margin-left:-220px;width:460px;padding:20px 25px 20px 25px;background:#F2F2F0;color:#383838;display:none; z-index:201;">
    <table style="margin-bottom:10px;width:100%;">
        <tr>
            <td style="width:50%;text-align:left;"><h4>로그인</h4></td>
            <td style="width:50%;text-align:right;"><a href="#" onclick="dimmedOff();"><img src="image/close_01.gif"/></a></td>
        </tr>
    </table>
    <form id="loginForm" name="loginForm" method="post">
    <table style="width:100%;margin-bottom:10px;">
        <tr>
        </tr>
        <tr>
        <tr>
            <th width="70">이메일</th>
            <td style="text-align:left;">
                <input type="text" id="email" name="email" style="width:100%;background:#fff;border:1px solid #e4e4e4;height:30px;"/>
                <span id="emailMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <th width="70">패스워드</th>
            <td style="text-align:left;">
                <input type="password" id="password" name="password" style="width:100%;background:#fff;border:1px solid #e4e4e4;height:30px;"/>
                <span id="lpasswordMessage" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;">
                <button class="btn btn-success" id="subscribeBtn" onclick="login();return false;">로그인</button>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="dimmedDiv3" class="corner" style="position:absolute;top:200px;left:50%;margin-left:-220px;width:460px;padding:20px 25px 20px 25px;background:#F2F2F0;color:#383838;display:none; z-index:201;">
    <table style="margin-bottom:10px;width:100%;">
        <tr>
            <td style="width:50%;text-align:left;"><h4>로그아웃 하시겠습니까?</h4></td>
            <td style="width:50%;text-align:right;"><a href="#" onclick="dimmedOff();"><img src="image/close_01.gif"/></a></td>
        </tr>
    </table>
    <form id="logoutForm" name="logoutForm" method="post">
    <table style="width:100%;margin-bottom:10px;">
        <tr>
        </tr>
        <tr>
        <tr>
            <td colspan="2" style="text-align:right;">
                <button class="btn btn-success" id="subscribeBtn" onclick="logout();return false;">로그아웃</button>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="dimmedDiv4" class="corner" style="position:absolute;top:200px;left:50%;margin-left:-220px;width:460px;padding:20px 25px 20px 25px;background:#F2F2F0;color:#383838;display:none; z-index:201;">
    <table style="margin-bottom:10px;width:100%;">
    <form id="todayForm" name="todayForm" method="post">
    <input type="hidden" name="id" id="id" value="{{ page.item.id }}">
    </form>
    </table>
</div>
<script type="text/javascript">
//  if ($('#searchForm').val() == '') {
//      $('#query').focus();
//  }
    function registeKeyword() {
        dimmedOff();
    }
    
    function signupLayer() {
        dimmed.on();
        $('#dimmedDiv1').fadeOut(300);
        $('#dimmedDiv3').fadeOut(300);
        $('#dimmedDiv2').fadeIn(300);
    }
    
    function loginLayer() {
        dimmed.on();
        $('#dimmedDiv3').fadeOut(300);
        $('#dimmedDiv2').fadeOut(300);
        $('#dimmedDiv1').fadeIn(300);
    }

    function logoutLayer() {
        dimmed.on();
        $('#dimmedDiv1').fadeOut(300);
        $('#dimmedDiv2').fadeOut(300);
        $('#dimmedDiv3').fadeIn(300);
    }

    function dimmedOff() {
        dimmed.off();
        $('#dimmedDiv1').fadeOut(300);
        $('#dimmedDiv2').fadeOut(300);
        $('#dimmedDiv3').fadeOut(300);
        return false;
    };
    
    function setTodayItem() {
        var dataString = $("#todayForm").serialize();
        var url = '/ecomm/v1/today.php';
        $.ajax({type:'POST', url:url, async:false, data:dataString, success:function(data) {
                if (data.status == '200') {
                window.location.reload(true);
                } else if (data.status == '501') {
                $('#addressMessage').html(data.message);
                } else {
                $('#addressMessage').html(data.message);
                }
                }});
    }

    function signup() {
        var dataString = $("#signupForm").serialize();
        var url = '/ecomm/v1/user.php';
        $.ajax({type:'POST', url:url, async:false, data:dataString, success:function(data) {
                if (data.status == '200') {
                window.location.reload(true);
                } else if (data.status == '501') {
                $('#addressMessage').html(data.message);
                } else {
                $('#addressMessage').html(data.message);
                }
                }});
    }
    function goDelete(id) {
        var dataString = "";
        var url = '/ecomm/v1/delete_good.php?id='+id;
        $.ajax({type:'GET', url:url, async:false, data:dataString, success:function(data) {
                if (data.status == '200') {
                window.location = "index.php";
                } else {
                    window.alert(data.message);
                }
                }});
    }

    function login() {
        var dataString = $("#loginForm").serialize();
        var url = '/ecomm//v1/user.php';
        $.ajax({type:'GET', url:url, async:false, data:dataString, success:function(data) {
                if (data.status == '200') {
                window.location.reload(true);
                } else if (data.status == '501') {
                $('#lpasswordMessage').html(data.message);
                } else {
                $('#lpasswordMessage').html(data.message);
                }
                }});
    }
    function logout() {
        var dataString = $("#logoutForm").serialize();
        var url = '/ecomm/v1/logout.php';
        $.ajax({type:'GET', url:url, async:false, data:dataString, success:function(data) {
                if (data.status == '200') {
                window.location.reload(true);
                } else if (data.status == '501') {
                $('#lpasswordMessage').html(data.message);
                } else {
                $('#lpasswordMessage').html(data.message);
                }
                }});
    }
    function getKeyword() {
    }
    
    function subscribe() {
    }
    
    function recentDealShow(obj, title) {
        var top = $(obj).position().top + "px";
        var left = ($(obj).position().left - 233) + "px";
        $('#recentDealInfo').css({"top": top, "left":left}).show().html(title);
    }
    
    function recentDealHide(obj) {
        $('#recentDealInfo').hide();
    }
</script>
        </div>
        <div class="body">
            



 

            



 
<!--
<div class="right">
</div>
-->
            <div style="position:relative;margin-left:0px;">
                


 





 
<div style="position:relative;">
    <div style="position:relative;width:250px;">
        <h4>{{ page.item.title }}</h4>
    </div>
    <div class="tab01 btn-group">
        {% if page.admin %}
        <button onclick="setTodayItem();" class="btn btn-small btn-info "><i class="icon-shopping-cart icon-white"></i>오늘의 상품</button>
        <button onclick="goDelete({{page.item.id}});" class="btn btn-small "><i class="icon-hart icon-white"></i>삭제하기</button>
        {% else %}
        <button onclick="goCart(0);" class="btn btn-small btn-info "><i class="icon-shopping-cart icon-white"></i>장바구니</button>
        <button onclick="goCart({{page.item.id}});" class="btn btn-small "><i class="icon-hart icon-white"></i>구매하기</button>
        {% endif %}
    </div>
</div>

<table class="tb01" style="width:100%;">
    <tr>
        <td>
<div class="deal2-2">
    <div style="position:relative;width:965px; overflow:hidden;">
        <div style="position:absolute; top:-45px; left:0px; z-index:1;">
        </div>
    </div>

    <div class="deal2_2_exp">
        <div style="line-height:180%;">
            <span class="label">{{ page.item.price }}</span>
            <span style="font-size:8pt;color:#888888;">{{ page.item.origin }}</span>&nbsp;
        </div>

        <div style="line-height:180%;">
            <span class="label">{{ page.seller.name }}</span>
            <span style="font-size:8pt;color:#888888;">{{ page.seller.comment }}</span>&nbsp;
        </div>

        <div style="line-height:180%;">
            <span class="label">연락처</span>
            <span style="font-weight:bold;"><span style="color:#FF0000;font-weight:bold; font-size:12pt;">{{ page.seller.phone }}</span></span>
        </div>
        <div style="line-height:180%;">
            <span class="label">상품소개</span>
            <span style="font-size:8pt;color:#888888;">{{ page.item.comment }}</span>&nbsp;
        </div>
    </div>
</div></td>
    </tr>
</table>

<table class="tb01" style="width:100%;">
{% for item in page.images %}
{{ item.starttag | safe }}
<td>
<div class="deal2">
    <div style="position:relative;width:308px; height:162px; overflow:hidden;">
        <div style="position:absolute; top:0px; left:-7px; z-index:1;">
            <img src="{{ item.image }}" style="width:320px;height:162px;"/>
        </div>
    </div>
</div></td>
    <td width="7px"></td>
{{ item.endtag | safe }}
{% endfor %}
</table>


<div style="position:relative;padding-bottom:3px;width:100%;height:30px;margin-bottom:10px;">
    <div class="page01">
    </div>
</div>

<table border=0 cellpadding=0 cellspacing=0 width=100%>
<tr><td><table width=97% align='center'>
<tr><td>
 <b>[배송안내]</b><br>
&nbsp;&nbsp;&nbsp;- 배송기간은 입금확인후 평균 3일 이내로 배송됩니다.<br>
&nbsp;&nbsp;&nbsp;- 토요일/공휴일은 배송기간에 포함되지 않습니다.(도서 산간지역은 2~3일정도 추가 소요될 수 있습니다.)<br>
&nbsp;&nbsp;&nbsp;- 제품은 택배로 배송되며 배송비는 무료입니다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(단, 제주도, 섬의 경우 운임이 더 추가됩니다. 추가되는 배송비는 착불로 배송됩니다.)<br><br>
 <b>[반품 및 교환안내]</b><br>
&nbsp;&nbsp;&nbsp;- 교환 및 반품을 원하 실 경우 물건 받으신 날짜에서 24시간내에 당사 고객센터로 연락주세요.<br>
&nbsp;&nbsp;&nbsp;- 물건에 하자가 있는 경우 착불로 당사로 보내주시면 교환 처리하여 드립니다.<br>
&nbsp;&nbsp;&nbsp;- 제품에 심각한 이상이 있을경우 당사의 판단하에 교환 및 환불처리 해드립니다.<br><br>
 <b>[반품 및 교환불가안내]</b><br>
&nbsp;&nbsp;&nbsp;- 고객의 단순변심에 의한 교환 및 반품은 불가합니다.<br>
&nbsp;&nbsp;&nbsp;- 본 쇼핑몰에서 판매되는 농산물의경우 특성상 교환이나 반품은 불가합니다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(단, 제품 배송상 문제 또는 배송중 제품이 손상된경우는 경우에따라 반품 또는 교환해 드립니다.)<br>
</td></tr></table></td></tr>
</table>


            </div>
        </div>
        <div class="footer">
            관리자: webmaster@ecomm.com<br/>
            ※ 본 사이트는 방송통신대학원의 전자상거래시스템의 텀프로젝트를 위한 사이트입니다. 실제로 구매가 되지 않습니다.
        </div>
    </div>

    <script type="text/JavaScript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script type="text/JavaScript" src="css/utils.js"></script>    
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <!-- 리포트2.0 로그분석코드 시작 -->
    </script>
    <!-- 리포트2.0  로그분석코드 완료 -->   
</body>
</html>

